* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #111;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #000;
    position: fixed;
    width: 100%;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #f4c430;
    font-weight: bold;
}

.hero {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url('https://images.unsplash.com/photo-1503387762-592deb58ef4e') center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 50px;
    color: #f4c430;
}

.section {
    padding: 100px 50px;
    text-align: center;
}

.dark {
    background: #1c1c1c;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
}

.card {
    background: #000;
    padding: 30px;
    border: 1px solid #f4c430;
    width: 200px;
    transition: 0.3s;
}

.card:hover {
    background: #f4c430;
    color: #000;
    transform: scale(1.05);
}

footer {
    padding: 20px;
    text-align: center;
    background: #000;
}

